@import "fonts.scss";

$titleBoldFont: 'Conv_Quicksand-Bold', sans-serif;
$titleFont: 'Conv_Quicksand-Medium', sans-serif;
$mainBoldFont: 'Conv_Montserrat-Bold', sans-serif;
$mainFont: 'Conv_Montserrat-Regular', sans-serif;

$darkShadeBase: #1F2041;

$darkShade100: $darkShadeBase;
$darkShade75: rgba($darkShadeBase, 0.75);
$darkShade50: rgba($darkShadeBase, 0.5);
$darkShade25: rgba($darkShadeBase, 0.25);
$darkShade5: rgba($darkShadeBase, 0.05);

$buttonColor: #BC9CFF;

$activeColor: #6FCF97;

$colors: ($darkShade100 $darkShade75 $darkShade50 $darkShade25 $darkShade5 $buttonColor $activeColor);
