extends ../../../components/layout/UIKit

block variables
    - var pageTitle = 'Colors & Type'

block content
  .logo
    img(src='/assets/img/group.svg', alt='logo')         
  .container-fluid
    section.colors-wrap
      .colorItem
        .colorItem__block                                
        .colorItem__description
          .colorItem__title Dark Shade 100%                                       
          .colorItem__hex #1F2041                         
      .colorItem
        .colorItem__block                               
        .colorItem__description
          .colorItem__title Dark Shade 75%                                  
          .colorItem__hex #1F2041                           
      .colorItem
        .colorItem__block                                 
        .colorItem__description
          .colorItem__title Dark Shade 50%                                       
          .colorItem__hex #1F2041                           
      .colorItem
        .colorItem__block                                 
        .colorItem__description
          .colorItem__title Dark Shade 25%                                       
          .colorItem__hex #1F2041                          
      .colorItem
        .colorItem__block                                 
        .colorItem__description
          .colorItem__title Dark Shade 5%                                       
          .colorItem__hex #1F204                          
      .colorItem
        .colorItem__block                                 
        .colorItem__description
          .colorItem__title Purple                                       
          .colorItem__hex #BC9CFF                           
      .colorItem
        .colorItem__block                                 
        .colorItem__description
          .colorItem__title Green                                      
          .colorItem__hex #6FCF97                    
    section.type-wrap
      .typeItem
        .typeItem__name H1                                 
        .typeItem__description
          | This one is the sub-section or
          | widget title                           
      .typeItem
        .typeItem__name H2                                 
        .typeItem__description
          | Next one is the item title inside
          | widgets                          
      .typeItem
        .typeItem__name H3                                 
        .typeItem__description This is a label or CTA text                           
      .typeItem
        .typeItem__name Body                                 
        .typeItem__description
          | This is the body text which is used for most
          | of the design, like paragraphs, lists, etc.


block scripts
    //- <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    //- <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    //- <% } %>
        // вытягивает все js
    //- <script src="/dist/assets/js/app.js"></script>