extends ../../../components/layout/UIKit

block variables
    - var pageTitle = 'Colors & Type'
    - var description = 'Colors & Type'
    - var keywords = 'UIKit, Colors, Type'

block content
  .page
    .logo.logo_margin
      include ../../../components/logo/logo
      +logo('#1F2041', '#1F2041', '#1F2041', 0.25)
    .container.container_grid
      section.colors-wrap
        include ../../../components/color-item/color-item
        +color-item('Dark Shade 100%', '#1F2041')
        +color-item('Dark Shade 75%', '#1F2041')
        +color-item('Dark Shade 50%', '#1F2041')
        +color-item('Dark Shade 25%', '#1F2041')
        +color-item('Dark Shade 5%', '#1F2041')
        +color-item('Purple', '#BC9CFF')
        +color-item('Green', '#6FCF97')
                 
      section.type-wrap
        include ../../../components/type-item/type-item
        +type-item('H1','This one is the sub-section or widget title')
        +type-item('H2','Next one is the item title inside widgets')
        +type-item('H3','This is a label or CTA text')
        +type-item('Body','This is the body text which is used for most of the design, like paragraphs, lists, etc.')
       
block scripts
    //- <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    //- <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    //- <% } %>
        // вытягивает все js
    //- <script src="/dist/assets/js/app.js"></script>