.color-item {
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    align-items: center;    
    
    @for $i from 1 through 7 {          
        &:nth-child(#{$i}){
            .color-item__block {
                background: nth($colors, $i);
                width: 70px;
                height: 70px;
                border-radius: 6px;
            } 
        }
    }
    
    &__description {
        padding-left: 40px;
        font-size: 19px;
        line-height: 29px;        
        color: $darkShade100;   
    }

    &__title {
        font-family: $titleBoldFont;       
    }

    &__hex {
        font-family: $titleFont;     
    }
}