.color-item {
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    align-items: center;    

    &__block {
        width: 70px;
        height: 70px;
        border-radius: 6px;
       
        @for $i from 1 through 14 {  // 14 равно количиству color-item * 2, при изменении количества требуется добавить цвета в $colors находится в vars.scss          
            &:nth-child(#{$i}){
                @if $i / 2 == 1 {
                    background: none;                      
                }
                @else {                        
                    background: nth($colors, ($i + 1) / 2);
                }                 
            }
        }        
    }

    
    &__description {
        padding-left: 40px;
        font-size: 19px;
        line-height: 29px;        
        color: $darkShade100;   
    }

    &__title {
        font-family: $titleBoldFont;       
    }

    &__hex {
        font-family: $titleFont;     
    }
}