.color-item
        .color-item__block                                
        .color-item__description
          .color-item__title= darkShade                                       
          .color-item__hex= afdasfa          