mixin color-item(title, hex)
  .color-item__block                                
  .color-item__description
    .color-item__title= title                                       
    .color-item__hex= hex